// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define SYM 1
#define NUM 2



&caps_word {
    continue-list = <ESC>;
};



/ {
    
// ╭──────────────╮ ╭──────────────╮
// │ 0  1  2  3  4│ │ 5  6  7  8  9│
// │10 11 12 13 14│ │15 16 17 18 19│
// │20 21 22 23 24│ │25 26 27 28 29│
// ╰─────╮30 31 32│ │33 34 35╭─────╯
//       ╰────────╯ ╰────────╯

    combos {
        compatible = "zmk,combos";

        combo_caps {
            layers = <0>;
            timeout-ms = <75>;
            require-prior-idle-ms = <100>;
            key-positions = <14 15>;
            bindings = <&caps_word>;
        };
    };

    behaviors {
        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            require-prior-idle-ms = <175>;
            bindings = <&kp>, <&kp>;
        };

        lp: layer_press {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            require-prior-idle-ms = <125>;
            // retro-tap;
            bindings = <&mo>, <&kp>;
        };

        mp: mod_press {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            require-prior-idle-ms = <125>;
            bindings = <&kp>, <&kp>;
        };

        cs: ctrl_shift {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LCTRL>, <&kp LC(LSHFT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮          ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  Q       │  W       │  E       │  R       │  T       │          │  Y       │  U       │  I       │  O       │  P       │
            &kp Q      &kp W      &kp E      &kp R      &kp T                 &kp Y      &kp U      &kp I      &kp O      &kp P
        //├──────────┼──────────┼──────────┼──────────┼──────────┤          ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  A       │  S       │  D       │  F       │  G       │          │  H       │  J       │  K       │  L       │   ;      │
           &ht LGUI A &ht LALT S &ht LCTRL D &ht LSHFT F &kp G                &kp H    &ht RSHFT J &ht RCTRL K &ht LALT L &ht RGUI SEMI
        //├──────────┼──────────┼──────────┼──────────┼──────────┤          ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  Z       │  X       │  C       │  V       │  B       │          │  N       │  M       │ , <      │ . >      │ / ?      │
            &kp Z      &kp X      &kp C      &kp V      &kp B                 &kp N      &kp M      &kp COMMA  &kp DOT    &kp FSLH
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤          ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                  &kp DEL   &kp BSPC    &lp SYM RET    &lp NUM TAB     &kp SPACE   &kp DEL
        //                      ╰──────────┴──────────┴──────────╯          ╰──────────┴──────────┴──────────╯
        >;
        };

        sym_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮          ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│          │          │          │    `     │          │          │    ^     │    (     │    )     │    !     │    ~     │
            &none      &none      &none      &kp GRAVE  &kp STAR              &kp CARET  &kp LPAR   &kp RPAR   &kp EXCL   &kp TILDE
        //├──────────┼──────────┼──────────┼──────────┼──────────┤          ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │    "     │          │          │    $     │    {     │    }     │    &     │    |     │
            &none      &kp RALT   &none      &kp DQT    &kp PLUS              &kp DLLR   &kp LBRC   &kp RBRC   &kp AMPS   &kp PIPE
        //├──────────┼──────────┼──────────┼──────────┼──────────┤          ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │    '     │          │          │    =     │    [     │    ]     │    %     │    \     │
            &none      &none      &none      &kp SQT    &none                 &kp EQUAL  &kp LBKT   &kp RBKT   &kp PRCNT  &kp BSLH
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤          ├──────────┼──────────┼──────────┴──────────┴──────────╯
        //                      │          │          │          │          │    -_    │    #     │    @     │ 
                                  &none      &none      &none            &mp UNDER MINUS &kp HASH   &kp AT
        //                      ╰──────────┴──────────┴──────────╯          ╰──────────┴──────────┴──────────╯
            >;
        };

        num_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮          ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│          │    7     │    8     │    9     │          │          │          │          │          │          │          │
          &bt BT_CLR   &mp F7 N7  &mp F8 N8  &mp F9 N9  &kp HOME              &none      &kp K_APP  &kp PG_UP  &none      &bootloader
        //├──────────┼──────────┼──────────┼──────────┼──────────┤          ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │    4     │    5     │    6     │          │          │          │          │          │          │          │
          &bt BT_SEL 1 &mp F4 N4  &mp F5 N5  &mp F6 N6  &kp END               &none     &kp LEFT   &kp DOWN   &kp UP    &kp RIGHT
        //├──────────┼──────────┼──────────┼──────────┼──────────┤          ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │    1     │    2     │    3     │    0     │          │          │          │          │          │          │
          &bt BT_SEL 0 &mp F1 N1  &mp F2 N2  &mp F3 N3  &mp F10 N0            &none      &kp HOME      &kp PG_DN  &kp END      &none
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤          ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                  &none      &kp LSHFT  &cs                   &none      &none      &none
        //                      ╰──────────┴──────────┴──────────╯          ╰──────────┴──────────┴──────────╯
            >;
        };

    };
};
